@{
    ViewData["Title"] = "About";
}

<!-- about section start -->
<div class="about_section layout_padding margim_90">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="about_taital">About Our Medical Center</h1>
                <p class="about_text">
                    Our Online Medical Appointment Booking System is designed to simplify healthcare access by
                    allowing patients to book doctor appointments online, view doctor availability, and manage
                    appointments efficiently. Our goal is to reduce waiting time and improve patient experience
                    through digital healthcare solutions.
                </p>
                <div class="about_bt"><a href="#">Read More</a></div>
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="images/about-img.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
