@{
    ViewData["Title"] = "Treatment";
}

<!-- treatment section start -->
<div class="treatment_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="treatment_taital">Hospital Treatment</h1>
            </div>
        </div>
        <div class="treatment_section_2">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h1 class="number_text">01</h1>
                    <h2 class="care_text">Cardiology Care</h2>
                    <p class="treatment_text">Comprehensive diagnosis and treatment of heart-related conditions, including heart disease, hypertension, and cardiac disorders, provided by experienced cardiology specialists.</p>
                    <div class="readmore_bt active"><a href="#">Read More</a></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="number_text">02</h1>
                    <h2 class="care_text">Neurology Care</h2>
                    <p class="treatment_text_1">Advanced medical care for brain, nerve, and spinal disorders, including migraines, epilepsy, and neurological conditions, using modern diagnostic techniques. </p>
                    <div class="readmore_bt"><a href="#">Read More</a></div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="number_text">03</h1>
                    <h2 class="care_text">General Medicine</h2>
                    <p class="treatment_text_1">Primary healthcare services for common illnesses, routine check-ups, and preventive care, ensuring overall health management for patients of all ages.</p>
                    <div class="readmore_bt"><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- treatment section end -->